<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../styles/s_login.css">
    <link rel="stylesheet" href="../styles/mq_login.css">
    <title>Bem vindo!</title>
</head>
<body>

    <main>

        <section id="login">

            <div id="formulario">

                <h1>Criar</h1>

                <p>Seja bem vindo(a) ao nosso curso! Crie sua conta aqui.</p>

                <form action="" method="post" autocomplete="on">
                    <div class="campo">
                        <span class="material-symbols-outlined">person</span>
                        <input type="email" name="email" id="iemail" autocomplete="email" placeholder="Digite seu Email" required maxlength="30">
                        <label for="iemail">Email: </label>
                    </div>
                    
                    <div class="campo">
                        <span class="material-symbols-outlined">vpn_key</span>
                        <input type="password" name="senha" id="icriesenha" autocapitalize="current-password" placeholder="Crie sua senha" required minlength="8" maxlength="20">
                        <label for="icriesenha">Crie sua senha: </label>
                    </div>

                    <div class="campo">
                        <span class="material-symbols-outlined">check</span>
                        <input type="password" name="senha" id="iconsenha" autocapitalize="current-password" placeholder="Confime sua senha" required minlength="8" maxlength="20">
                        <label for="iconsenha">Confirme sua senha </label>
                    </div>
                    <input type="submit" value="Criar conta">

                </form>

            </div>
            
            <p>Já tem uma conta na plataforma? <a href="login.html">Entre na sua conta</a></p>

        </section>

    </main>

</body>
</html>