<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../styles/login.css">
    <link rel="stylesheet" href="../styles/mq_login.css">
    <title>Bem vindo!</title>
</head>
<body>

    <main>

        <section id="login">

            <div id="formulario">

                <h1>Login</h1>

                <p>Seja bem vindo(a) ao nosso curso! Faça o login para acessar sua conta.</p>

                <form action="" method="post" autocomplete="on">
                    <div class="campo">
                        <span class="material-symbols-outlined">person</span>
                        <input type="email" name="email" id="iemail" autocomplete="email" placeholder="Digite seu Email" required maxlength="30">
                        <label for="iemail">Email: </label>
                    </div>
                    
                    <div class="campo">
                        <span class="material-symbols-outlined">vpn_key</span>
                        <input type="password" name="senha" id="isenha" autocapitalize="current-password" placeholder="Digite sua senha" required minlength="8" maxlength="20">
                        <label for="isenha">Senha: </label>
                    </div>
                    <input type="submit" value="Entrar">
                    <a href="esqueci.html" class="botao">Esqueci minha senha</a>
                </form>

            </div>
            
            <p>Novo na plataforma? <a href="cadastro.html">Crie uma conta</a></p>

        </section>

    </main>

</body>
</html>