<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
    <link rel="stylesheet" href="../styles/s_pagprincipal.css">
    <link rel="stylesheet" href="../styles/mq_pagprincipal.css">
    <title>Projeto Curso! Aprenda tecnologia com qualidade!</title>
</head>
<body>

    <header>
        <h1>Meu site!</h1>
        <span id="icone" class="material-symbols-outlined" onclick="clickMenu()">menu</span>
        <menu id="itens">
            <ul>
                <li><a id="borda_cima" href="../index.html">Login</a></li>
                <li><a href="../templates/cadastro.html">Cadastro</a></li>
                <li><a href="#">Conta</a></li>
                <li><a id="borda_baixo" href="#">Sobre</a></li>
            </ul>
        </menu>

    </header>
    
    <main class="caixa">
        
        <h2>Cursos</h2>
        
        <article id="cursos" class="caixa">
            
            <div><a href="#" target="_blank" rel="noopener noreferrer"><img src="../imgs/python.png"></a></div>

            <div><a href="#" target="_blank" rel="noopener noreferrer"><img src="../imgs/javascript_logo.png"></a></div>

            <div><a href="#" target="_blank" rel="noopener noreferrer"><img src="../imgs/web_logo.png"></a></div>

            <div><a href="#" target="_blank" rel="noopener noreferrer"><img src="../imgs/java_logo.png"></a></div>

            <div><a href="#" target="_blank" rel="noopener noreferrer"><img src="../imgs/php_logo.png"></a></div>

            <div><a href="#" target="_blank" rel="noopener noreferrer"><img src="../imgs/ruby_logo.png"></a></div>

        </article>
        
        
    </main>
    
    <aside id="mensagens" class="caixa">
        <h2>Avaliações</h2>
        <h3>Zezinho da Silva</h3>
        <p>Se você está buscando uma plataforma que ofereça cursos de alta qualidade na área de tecnologia, o Cursos Raffis é a escolha perfeita. Este site foi desenvolvido para atender pessoas que desejam seguir uma carreira na tecnologia, proporcionando um ensino gratuito e acessível a todos.</p>
    </aside>
    
    <footer>

    </footer>

    <script>
        function clickMenu() {
            if (itens.style.display == 'none') {
                itens.style.display = 'block'
            } else {
                itens.style.display = 'none'
            }
        }
    </script>

</body>
</html>